.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: var(--space-xxl);
}


img{
    border-radius: 10px;
    transition-duration: .4s;
}

img:hover{
     scale: 1.075;
}

main h3{
    font-weight: 800;
}
