* body {
  width: 100%;
  height: auto;
  display: block;
}

/* 
Generel styling for body elementet. Sætter baggrundsfarven til mørk grå.
*/
body {
  background-color: #1a1a1a;
}

.stregrod {
  margin-bottom: 20px;
}

/* 
Stil til h2 overskrifter. Bruger skrifttypen "Pirata One", sætter tekstfarven til en rød nuance og centrerer teksten med en lidt mindre skriftstørrelse end h1.
*/
h2 {
  font-family: "Pirata One", sans-serif;
  color: #e00a4c;
  text-align: center;
  font-size: 65px;
}

/* 
Stil til h3 overskrifter. Bruger skrifttypen "Style Script", sætter tekstfarven til en lys hvid/pink nuance, centrerer teksten og giver den en mindre skriftstørrelse end h2.
*/

.h2 {
  font-family: "League Gothic", sans-serif;
  color: #fff9fb;
  text-align: center;
  font-size: 55px;
}

/* 
Stil til p elementer. Bruger skrifttypen "League Spartan", sætter tekstfarven til en lys hvid/pink nuance og giver teksten en let vægt og linjehøjde for bedre læsbarhed.
*/
p {
  font-family: "League Spartan", sans-serif;
  color: #fff9fb;
  font-weight: 100;
  line-height: 1.5;
  width: 100%;
  height: auto;
  line-height: 1.5;
  margin-top: 5px;
}

/* 
Stil til elementer med klassen tekst3. Bruger samme skrifttype som p elementer, centrerer teksten og tilføjer margin-top.
*/

/* 
Stil til Policies klasse. Justerer tekst til venstre og tilføjer padding til højre.
*/
.Policies {
  text-align: left;
  padding-right: 2px;
}

/* 
Stil til ul elementer med ul klasse. Sætter tekstfarve til hvid/pink nuance og justerer tekst til ven*/

.ul {
  color: #fff9fb;
  text-align: left;
  padding-right: 2px;
}

/* 
Stil til elementer med klassen streg1. Tilføjer afrundede hjørner, en tynd ramme og padding, centrerer indholdet og giver fast bredde.
*/
.streg1 {
  display: block;
  border-radius: 25px;
  border: 0.1px;
  border-style: solid;
  border-color: #fff9fb;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 290px;
  text-align: center;
  margin: auto;
  margin-bottom: 10%;
  padding: 5%;
}

/* 
Samme stil som streg1, men tilføjer margin-bottom.
*/
.streg2 {
  display: block;
  border-radius: 25px;
  border: 0.1px;
  border-style: solid;
  border-color: #fff9fb;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 290px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 5%;
}

/* 
Samme stil som streg2, men tilføjer margin-bottom.
*/
.streg3 {
  display: block;
  border-radius: 25px;
  border: 0.1px;
  border-style: solid;
  border-color: #fff9fb;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 290px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 5%;
}

.streg4 {
  display: block;
  border-radius: 25px;
  border: 0.1px;
  border-style: solid;
  border-color: #fff9fb;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 290px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 5%;
}

/* 
Stil til streghvid elementer. Tilføjer en hvid ramme, fast højde og bredde og margin-bottom.
*/
.streghvid {
  border-style: solid;
  border-color: #fff9fb;
  height: 0px;
  width: 344px;
  margin-bottom: 20px;
}

/* 
Stil til knap1 elementer. Tilføjer padding, fast bredde, margin-bottom, afrundede hjørner, rød baggrundsfarve og hvid tekstfarve samt ramme og skrifttype.
*/
.knap1 {
  display: grid;
  padding: 20px;
  width: 344px;
  margin-bottom: 20px;
  border-radius: 35px;
  background-color: #e00a4c;
  color: #fff9fb;
  border: 5px;
  border-style: solid;
  border-color: #e00a4c;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: auto;
  margin-right: 15%;
  margin-bottom: 5%;
}

/* 
Stil til knap2 elementer. Tilføjer samme stil som knap1, men med sort baggrundsfarve og hvid ramme.
*/
.knap2 {
  padding: 20px;
  width: 344px;
  border-radius: 35px;
  color: #fff9fb;
  background-color: #1a1a1a;
  border: 5px;
  border-style: solid;
  border-color: #fff9fb;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* 
Stil til accordion elementer. Tilføjer baggrundsfarve, cursor, bredde, tekstjustering, outline, transition, tekstfarve, skriftstørrelse og stil samt display-egenskaber.
*/
.accordion {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-family: "Lato";
  border: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

/* 
Tilføjer baggrundsfarve ved hover og når aktiv.
*/
.active,
.accordion:hover {
  background-color: #e00a4c;
}

/* 
Stil til panel elementer. Tilføjer padding, baggrundsfarve, maksimal højde og transition.
*/
.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* 
Tilføjer plus tegn ved accordion elementer.
*/
.accordion span:after {
  content: "\02795"; /* Unicode tegn for "plus" tegn (+) */
  font-size: 18px;
  font-family: "Lato";
  color: #ffffff;
  padding-left: 20px;
  padding-top: 30%;
}

/* 
Ændrer til minus tegn når accordion elementer er aktive.
*/
.accordion.active span:after {
  content: "\2796"; /* Unicode tegn for "minus" tegn (-) */
}

.col {
  display: grid;
  margin-left: 10%;
}
/* 
Medie forespørgsel for skærme op til 750px bredde. Ændrer grid kolonner for overskrift1.
*/

.accordion {
  display: flex;
}

.col {
  display: block;
}
.col2 {
  display: block;
}

/* Media query for screens with minimum width of 550px */
@media (min-width: 550px) {
  .grid_5-2,
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }
  p {
    width: 100%;
    height: auto;
  }
  .col1 {
    display: block;
  }
  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .col2 {
    display: block;
    grid-column: 1 / span 2;
    margin-left: 30%;
  }

  dl {
    display: grid;
    grid-template-columns: 33% 66%;
  }

  .streg1,
  .streg2,
  .streg3,
  .streg4 {
    width: 600px;
    margin: auto;
    padding: 25px;
    height: auto;
    margin: 5%;
    margin-left: 10%;
  }
  .streg1 {
    height: 550px;
  }
  .streg2,
  .streg4 {
    height: 350px;
  }

  .streg3 {
    height: 550px;
  }

  .streg4 {
    margin-right: 25%;
  }

  .col {
    display: block;
    margin-left: 78%;
    margin-bottom: 50px;
  }

  .col2 {
    margin-top: 0%;
    padding-right: 30%;
  }
}
