body {
  background-color: #1a1a1a;
}

img {
  margin: auto;
}

/* 
ha1 h2 h3 h4. Bruger skrifttypen "League Gothic", sætter tekstfarven til en lys hvid/pink nuance, centrerer teksten og giver den en mellemsize skriftstørrelse.
*/

h1 {
  font-family: "League Gothic", sans-serif;
  color: #fff9fb;
  text-align: center;
  font-size: 80px;
  font-weight: 300;
}

h2 {
  font-family: "Pirata One", sans-serif;
  color: #e00a4c;
  text-align: center;
  font-size: 65px;
}

h3 {
  font-family: "Style Script", sans-serif;
  color: #fff9fb;
  text-align: center;
  font-size: 30px;
}


.h4 {
  font-family: "League Gothic", sans-serif;
  color: #fff9fb;
  text-align: center;
  font-size: 55px;
}

p {
  font-family: "League Spartan", sans-serif;
  color: #fff9fb;
  font-weight: 100;
}

.tekst3 {
  font-family: "League Spartan", sans-serif;
  color: #fff9fb;
  text-align: center;
  margin-top: 20px;
  font-weight: 100;
}

.gitte {
  border-radius: 25px;
  display: block;
  object-fit: cover;
  margin-bottom: 20px;
}

.franz {
  border-radius: 25px;
  display: block;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.streg1 {
  border-radius: 25px;
  border: 0.1px;
  border-style: solid;
  border-color: #fff9fb;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 290px;
  text-align: center;
  margin: auto;
}

.streg2 {
  border-radius: 25px;
  border: 0.1px;
  border-style: solid;
  border-color: #fff9fb;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 290px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.stregrod {
  border-style: solid;
  border-color: #e00a4c;
  height: 0px;
  width: 344px;
}

.streghvid {
  border-style: solid;
  border-color: #fff9fb;
  height: 0px;
  width: 344px;
  margin-bottom: 20px;
}

.hellothere {
  padding-top: 30px;
  text-align: center;
}

.knap1 {
  padding: 20px;
  width: 344px;
  margin-bottom: 20px;
  border-radius: 35px;
  background-color: #e00a4c;
  color: #fff9fb;
  border: 5px;
  border-style: solid;
  border-color: #e00a4c;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.knap2 {
  padding: 20px;
  width: 344px;
  border-radius: 35px;
  color: #fff9fb;
  background-color: #1a1a1a;
  border: 5px;
  border-style: solid;
  border-color: #fff9fb;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media (max-width: 750px) {
  .overskrift1 {
    grid-column: 1 / 4;
  }
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 10px;
}
.col {
  grid-column: 2 / 3;
}
.col1 {
  grid-column: 2 / 3;
}
